* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: rgb(191, 200, 201) ;
  }

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85vw;
    min-height: 80vh;
    background: rgb(247, 247, 247);
    text-align: center;
    margin: 10vh auto;
    border-radius: 5vh;
    padding-bottom: 5vh;
  }

  .attributes {
    display: flex;
    justify-content: center;
    font-size: 1vh;
    padding: 1vh;
    margin: 1vh;
    color: rgb(33, 36, 49);

  }

  h1 {
    margin: 4vh 0;
    color: rgb(33, 36, 49);
    font-size: 4vh;
  }

  a {
    color: rgb(151, 140, 166);
  }